{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": false,
                "corejs":2
            }
        ],
        "@babel/preset-react",
    ],
    "plugins": [
        ["import", {
            "libraryName": "@cosmos/antd",
            // "libraryDirectory": "es",
            "style":true
        }],
    ]
}